QTASKBOARD_USERNAME=
QTASKBOARD_PASSWORD=
QTASKBOARD_API_URI=http://172.16.0.104:41418
QTASKBOARD_REDIS_URI=redis://172.16.0.104:6379
QARAKAL_MONGO_URI=
QARAKAL_BLOB_CONN_STR=
QARAKAL_DB_NAME=QPUs
QARAKAL_BLOB_CONTAINER=profiles
